<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for [manual, section] do |f| %>
      <%= render partial: "shared/form_errors", locals: { object: section, attribute_id_prefix: "section" } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Section title (required)"
        },
        name: "section[title]",
        id: "section_title",
        heading_level: 2,
        heading_size: "l",
        value: section.title,
        error_items: errors_for(section.errors, :title)
      } %>
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Section summary (required)",
            heading_size: "l",
          },
          name: "section[summary]",
          value: section.summary,
          rows: 4,
          error_items: errors_for(section.errors, :summary)
        },
        id: "section_summary",
        maxlength: 280
      } %>
      <%= render "shared/govspeak-editor", {
        label: {
          text: "Section body (required)",
          heading_size: "l",
        },
        name: "section[body]",
        id: "section_body",
        value: section.body,
        rows: 20,
        error_items: errors_for(section.errors, :body),
        preview_path: preview_path_for_section(manual, section),
        data_mod: {
          module: "paste-html-to-govspeak"
        }
      } %>

      <div class="preview_button add-vertical-margins"></div>
      <div class="preview_container add-vertical-margins" style="display: none;"></div>

      <div class="add-vertical-margins">
        <input name="section[visually_expanded]" type="hidden" value="0" autocomplete="off">
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "section[visually_expanded]",
          id: "section_visually_expanded",
          items: [
            {
              label: "Remove collapsible content functionality (accordions)",
              value: 1,
              checked: section.visually_expanded
            }
          ]
        } %>
        <%= render "govuk_publishing_components/components/inset_text", {
          text: "This manuals page will not have any collapsible sections. The formatting markdown ## will create a top level heading (H2) only, not a collapsible section."
        } %>
      </div>

      <div>
        <%= render "govuk_publishing_components/components/heading", {
          text: "Change note",
          heading_level: 2,
          font_size: "l",
          margin_bottom: 3,
        } %>
        <% if manual.has_ever_been_published? && section.accepts_minor_updates? %>
          <%= render "govuk_publishing_components/components/radio", {
            name: "section[minor_update]",
            items: [
              {
                text: "Major update",
                value: 0,
                id: "section_minor_update_0",
                hint_text: "This will be publicly viewable on GOV.UK.",
                checked: !section.minor_update,
                conditional: render("govuk_publishing_components/components/textarea", {
                  label: {
                    text: "Change note",
                  },
                  name: "section[change_note]",
                  id: "section_change_note",
                  value: section.change_note,
                  rows: 5,
                })
              },
              {
                text: "Minor update",
                value: 1,
                id: "section_minor_update_1",
                hint_text: "Only use for minor changes like fixes to typos, links, GOV.UK style or metadata.",
                checked: section.minor_update,
              }
            ]
          } %>
          <% else %>
            <%= render "govuk_publishing_components/components/textarea", {
              label: {
                text: "Major update",
                heading_level: 3,
                heading_size: "m",
              },
              hint: "Adding a new section is always a major update. This will be publicly viewable on GOV.UK.",
              name: "section[change_note]",
              id: "section_change_note",
              value: section.change_note,
              rows: 5,
            } %>
          <% end %>
      </div>

      <div class="govuk-button-group">
        <%= render("govuk_publishing_components/components/button", {
          text: "Save as draft",
        }) %>
        <%= link_to("Cancel", manual_path(manual), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "shared/govspeak_help", locals: { show_collapsible_help: true } %>
    <%= render partial: "shared/style_guidance" %>
    <%= render partial: 'attachments', locals: { manual:, section: }  %>
  </div>
</div>
