<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li><%= link_to manual.title, manual_path(manual) %></li>
  <li class="active"><%= section.title %></li>
<% end %>

<h1 class="page-header">
  <%= section.title %>
</h1>

<div class="row">
  <div class="sidebar col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h2>Summary</h2>
        <p><%= section.summary %></p>
      </div>
      <div class="col-md-12">
        <div class="actions well">
          <%= link_to("Edit section", edit_manual_section_path(manual, section), class: "action-link btn btn-success") %>
          <%= link_to("Withdraw section", withdraw_manual_section_path(manual, section), class: "action-link btn btn-danger") %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= render "admin/link_check_reports/link_check_report", reportable: { manual_id: manual.to_param, section_id: section.to_param }, report: section.link_check_report %>
  </div>
</div>
