<% content_for :title, section.title %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Your manuals",
        url: manuals_path
      },
      {
        title: manual.title,
        url: manual_path(manual)
      },
      {
        title: section.title
      },
    ]
  } %>
<% end %>

<% content_for :heading, section.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= section.summary %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-view-manuals__sidebar-actions">
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <%= render("govuk_publishing_components/components/button", {
            text: "Edit section",
            href: edit_manual_section_path(manual, section),
          }) %>
        </li>
        <li>
          <%= render("govuk_publishing_components/components/button", {
            text: "Withdraw section",
            href: withdraw_manual_section_path(manual, section),
            destructive: true,
          }) %>
        </li>
      </ul>
    </div>

    <%= render("admin/link_check_reports/link_check_report", {
      reportable: { manual_id: manual.to_param, section_id: section.to_param },
      report: section.link_check_report
    }) %>
  </div>
</div>
