<% content_for :head do %>
  <%= javascript_include_tag "vendor/jquery-1.11.0.min" %>
  <%= javascript_include_tag "ajax_setup" %>
  <%= javascript_include_tag "markdown_preview" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for manual do %>
      <%= render partial: "shared/form_errors", locals: { object: manual, attribute_id_prefix: "manual" } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Slug (read only)"
        },
        name: "slug",
        heading_level: 2,
        heading_size: "l",
        value: manual.slug,
        readonly: true
      } %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Title (required)"
        },
        name: "manual[title]",
        id: "manual_title",
        heading_level: 2,
        heading_size: "l",
        value: manual.title,
        error_items: errors_for(manual.errors, :title)
      } %>
      <%= render "govuk_publishing_components/components/character_count", {
        textarea: {
          label: {
            text: "Summary (required)",
            heading_size: "l",
          },
          name: "manual[summary]",
          value: manual.summary,
          rows: 4,
          error_items: errors_for(manual.errors, :summary)
        },
        id: "manual_summary",
        maxlength: 280
      } %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: "Body",
          heading_size: "l",
        },
        name: "manual[body]",
        id: "manual_body",
        value: manual.body,
        rows: 20,
        data: {module: "js-paste-html-to-govspeak"},
        error_items: errors_for(manual.errors, :body)
      } %>

      <div class="preview_button add-vertical-margins"></div>
      <div class="preview_container add-vertical-margins" style="display: none;"></div>

      <div class="govuk-button-group">
        <%= render("govuk_publishing_components/components/button", {
          text: "Save as draft",
        }) %>
        <%= link_to("Cancel", manual_path(manual), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render partial: "govspeak_help" %>
    <%= render partial: "style_guidance" %>
  </div>
</div>

<%= content_for :document_ready do %>
  window.MarkdownPreview.addPreviewFeature({
    'url'             : '<%= preview_path_for_manual(manual) %>',
    'insert_into'     : '.preview_container',
    'insert_button'   : '.preview_button',
    'render_to'       : '.preview .govspeak',
    'data_target'     : function() {
                          return {
                            'manual' : {
                              'body' : $('#manual_body').val()
                            }
                          };
                        }
  });
<% end -%>
