<div class="row">
  <div class="col-md-8">
    <%= form_for manual do |f| %>
      <%= render partial: "shared/form_errors", locals: { object: manual } %>

      <%= f.text_field :title, class: 'form-control' %>
      <%= f.text_area :summary, rows: 20, cols: 40, class: 'form-control short-textarea js-length-counter', data: { :"count-message-threshold" => 280, :"count-message-selector" => ".summary-length-info" } %>
      <div class="summary-length-info" aria-live="polite">
        Summary text should be 280 characters or fewer. <span class="count"></span>
      </div>
      <%= f.text_area :body, rows: 20, cols: 40, class: 'form-control' %>

      <div class="preview_button add-vertical-margins"></div>
      <div class="preview_container add-vertical-margins" style="display: none;"></div>

      <% unless manual.persisted? %>
        <fieldset class="first-published-date well">
          <label class="control-label">This manual</label>
          <div class="checkbox add-vertical-margins">
            <%= f.radio_button(:previously_published, 0, tag_type: :p, label: 'has never been published before. It is new.', checked: true) %>
          </div>
          <div class="checkbox add-vertical-margins">
            <%= f.radio_button(:previously_published, 1, tag_type: :p, label: 'has previously been published on another website.', checked: false) %>
          </div>
          <div class="js-hidden">
            <%= f.label :originally_published_at, "Its original publication date was" %>
            <div class="form-inline">
              <%= f.datetime_select :originally_published_at, { include_blank: true, start_year: Date.today.year, end_year: 1945 }, { class: 'date form-control' } %>
            </div>
            <%= f.hidden_field :use_originally_published_at_for_public_timestamp, value: 1 %>
          </div>
        </fieldset>
      <% end %>

      <div class='actions'>
        <button name="draft" class="btn btn-success" data-disable-with="Saving...">Save as draft</button>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'shared/govspeak_help' %>
  </div>
</div>

<%= content_for :document_ready do %>
  window.MarkdownPreview.addPreviewFeature({
    'url'             : '<%= preview_path_for_manual(manual) %>',
    'insert_into'     : '.preview_container',
    'insert_button'   : '.preview_button',
    'render_to'       : '.preview .govspeak',
    'data_target'     : function() {
                          return {
                            'manual' : {
                              'body' : $('#manual_body').val()
                            }
                          };
                        }
  });

  window.toggleDisplayWithCheckedInput({
    $input: $("#manual_previously_published_0"),
    $element: $("#manual_originally_published_at_1i").parent().parent(),
    mode: 'hide'
  });
  window.toggleDisplayWithCheckedInput({
    $input: $("#manual_previously_published_1"),
    $element: $("#manual_originally_published_at_1i").parent().parent(),
    mode: 'show'
  });
  $('.js-hidden').hide();

<% end -%>
