<% draft_sections = manual.sections.select(&:draft?) %>

<% content_for :title, "Publish #{manual.title}" %>

<% content_for :title_margin_bottom, 6 %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
  breadcrumbs: [
    {
      title: "Your manuals",
      url: manuals_path
    },
    {
      title: manual.title,
      url: manual_path(manual)
    },
    {
      title: "Publish"
    },
  ]
} %>

<%= render "govuk_publishing_components/components/title", {
  title: "Publish #{manual.title}"
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">You are about to publish "<%= manual.title %>".
      <%= if draft_sections.any? then " All the following sections, which are in draft status, will be published." end %></p>

    <% if draft_sections.any? %>
      <p class="govuk-body"></p>
      <%= render "govuk_publishing_components/components/table", {
        first_cell_is_header: true,
        head: [
          {
            text: "Draft"
          },
          {
            text: "Details"
          }
        ],
        rows: draft_sections.map do |section|
          [
            {
              text: tag.span("DRAFT", class: "govuk-tag govuk-tag--s govuk-tag--blue") <<
                tag.span(section.title, class: "govuk-!-static-margin-2")
            },
            {
              text: last_updated_text(section)
            }
          ]
        end
      } %>
    <% end %>

    <p class="govuk-body">Are you sure you want to publish this manual?</p>

    <%= form_tag(publish_manual_path(manual), method: :post) do %>
      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= render "govuk_publishing_components/components/button", {
          text: "Publish",
          name: "submit",
        } %>

        <%= link_to("Cancel", manual_path(manual), class: "govuk-link govuk-link--no-visited-state") %>
      </div>
    <% end %>

  </div>
</div>
