<% content_for :page_title, manual.title %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Your manuals",
        url: manuals_path
      },
      {
        title: manual.title,
      }
    ]
  } %>
<% end %>

<%= render partial: "title", locals: { manual: manual, public_url: url_for_public_manual(manual) } %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">

        <% unless clashing_sections.empty? %>
          <%= render "govuk_publishing_components/components/inset_text", {
            text: "There are duplicate section slugs in this manual."
          } %>

          <% clashing_sections.each do |slug, sections| %>
            <li><%= slug %></li>
          <% end %>

        <% end %>

      </div>

      <div class="col-md-12 lead">
        <%= render "govuk_publishing_components/components/govspeak", {
        } do %>
          <h2>Summary</h2>
          <%= manual.summary %>
        <% end %>
      </div>

      <% if manual.body.present? %>
        <div class=" col-md-12">
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <h2>Body</h2>
            <p class="body-pre add-bottom-margin"><%= manual.body %></p>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-12 add-bottom-margin">
        <h2>Metadata</h2>
        <dl class="metadata-list">
          <dt>State</dt>
          <dd><%= state(manual) %></dd>
        </dl>
        <% if manual.publish_tasks.any? %>
          <dl class="metadata-list">
            <dt>Last published</dt>
            <dd><%= publication_task_state(manual.publish_tasks.first) %></dd>
          </dl>
        <% end %>
        <% if current_user_is_gds_editor? %>
          <dl class="metadata-list">
            <dt>From</dt>
            <dd><%= link_to manual.organisation_slug, url_for_public_org(manual.organisation_slug) %></dd>
          </dl>
        <% end %>
        <% if manual.originally_published_at.present? %>
          <dl class="metadata-list">
            <dt>Originally published</dt>
            <dd><%= nice_time_format(manual.originally_published_at) %>
              <% if manual.use_originally_published_at_for_public_timestamp? %><br/>This will be used as the public
                updated at timestamp on GOV.UK.
              <% end %></dd>
          </dl>
        <% end %>
      </div>

      <div class="col-md-12">

        <h2>Sections</h2>
        <div class="add-bottom-margin">
          <%= render "govuk_publishing_components/components/button", {
            text: "Reorder sections",
            secondary_solid: true,
            href: reorder_manual_sections_path(manual)
          } %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Add section",
            href: new_manual_section_path(manual)
          } %>
        </div>

        <% if manual.sections.any? %>
          <%= render "govuk_publishing_components/components/table", {
            label: "Sections",
            head: [
              {
                text: "Title"
              },
              {
                text: "Updated at",
              },
              {
                text: "Actions",
                format: "numeric"
              }
            ],
            rows: manual.sections.map do |section|
              [
                {
                  text: section.title
                },
                {
                  text: "#{time_ago_in_words(section.updated_at)} ago"
                },
                {
                  text: link_to("View & Edit", manual_section_path(section), class: "govuk-link"),
                  format: "numeric"
                },
              ]
            end
          } %>
        <% else %>
          <%= render "govuk_publishing_components/components/inset_text", {
            text: "No sections on this manual"
          } %>
        <% end %>

        <h2>Actions</h2>

        <div class="add-bottom-margin">
          <%= render "govuk_publishing_components/components/button", {
            text: "Edit manual",
            href: edit_manual_path(manual)
          } %>
          <%= render "govuk_publishing_components/components/button", {
            text: "Edit first publication date",
            secondary_solid: true,
            href: original_publication_date_manual_path(manual)
          } %>
        </div>

        <h2>Publish manual</h2>

        <%= publish_text(manual, slug_unique) %>
        <% if manual.draft? && manual.sections.any? && current_user_can_publish? && slug_unique %>
          <%= form_tag(publish_manual_path(manual), method: :post) do %>
            <%= render "govuk_publishing_components/components/button", {
              text: "Publish",
              destructive: true,
              href: original_publication_date_manual_path(manual)
            } %>
          <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless manual.has_ever_been_published? %>
  <h2>Discard draft manual</h2>
      <%= form_tag(discard_draft_manual_path(manual), method: :delete) do %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Discard",
      destructive: true,
      href: discard_draft_manual_path(manual)
    } %>
      <% end -%>
<% end %>


<div class="col-md-4 add-top-margin">
  <%= render "admin/link_check_reports/link_check_report", reportable: { manual_id: manual.to_param }, report: manual.link_check_report %>
</div>
