<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li class='active'><%= manual.title %></li>
<% end %>

<%= render partial: "title", locals: { manual: manual, public_url: url_for_public_manual(manual) } %>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <% unless clashing_sections.empty? %>
          <p>Warning: There are duplicate section slugs in this manual.</p>
          <ul>
            <% clashing_sections.each do |slug, sections| %>
              <li><%= slug %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="col-md-12">
        <h2>Summary</h2>
        <p class="lead"><%= manual.summary %></p>
      </div>

      <% if manual.body.present? %>
        <div class=" col-md-12">
          <h2>Body</h2>
          <pre class="body-pre add-bottom-margin"><%= manual.body %></pre>
        </div>
      <% end %>

      <div class="col-md-12 add-bottom-margin">
        <h2>Metadata</h2>
        <dl class="metadata-list">
          <dt>State</dt>
          <dd><%= state(manual) %></dd>
        </dl>
        <% if manual.publish_tasks.any? %>
          <dl class="metadata-list">
            <dt>Last published</dt>
            <dd><%= publication_task_state(manual.publish_tasks.first) %></dd>
          </dl>
        <% end %>
        <% if current_user_is_gds_editor? %>
          <dl class="metadata-list">
            <dt>From</dt>
            <dd><%= link_to manual.organisation_slug, url_for_public_org(manual.organisation_slug) %></dd>
          </dl>
        <% end %>
        <% if manual.originally_published_at.present? %>
          <dl class="metadata-list">
            <dt>Originally published</dt>
            <dd><%= nice_time_format(manual.originally_published_at) %><% if manual.use_originally_published_at_for_public_timestamp? %><br/>This will be used as the public updated at timestamp on GOV.UK.<% end %></dd>
          </dl>
        <% end %>
      </div>

      <div class="col-md-12">
        <h2>Sections</h2>
        <div class="well add-bottom-margin">
          <%= link_to 'Reorder sections', reorder_manual_sections_path(manual), class: 'btn btn-default add-right-margin' %>
          <%= link_to 'Add section', new_manual_section_path(manual), class: 'btn btn-default' %>
        </div>
        <% if manual.sections.any? %>
        <ul class="document-list">
         <% manual.sections.each do |section| %>
            <li class="document">
              <%= link_to(section.title, manual_section_path(manual, section), class: 'document-title') %>
              <ul class="metadata">
                <li class="text-muted">Updated <%= time_ago_in_words(section.updated_at) %> ago</li>
              </ul>
            </li>
          <% end %>
        </ul>
        <% else %>
          <p class='no-content-message'>You haven&rsquo;t added any sections to this manual yet.</p>
        <% end %>

        <h2>Actions</h2>
        <div class="well">
          <%= link_to 'Edit manual', edit_manual_path(manual), class: 'btn btn-success add-right-margin' %>
          <%= link_to 'Edit first publication date', original_publication_date_manual_path(manual), class: 'btn btn-default' %>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><h3>Publish manual</h3></div>
          <div class="panel-body">
            <%= publish_text(manual, slug_unique) %>
            <% if manual.draft? && manual.sections.any? && current_user_can_publish? && slug_unique %>
              <%= form_tag(publish_manual_path(manual), method: :post) do %>
                <button name="submit" class="btn btn-danger" data-module="confirm" data-message="Are you sure you want to publish this manual?">Publish manual</button>
              <% end -%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% unless manual.has_ever_been_published? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Discard draft manual</h3></div>
        <div class="panel-body">
          <%= form_tag(discard_draft_manual_path(manual), method: :delete) do %>
            <button name="submit" class="btn btn-danger" data-module="confirm" data-message="Are you sure you want to discard this draft manual?">Discard draft manual</button>
          <% end -%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render "admin/link_check_reports/link_check_report", reportable: { manual_id: manual.to_param }, report: manual.link_check_report %>
  </div>
</div>
