<% content_for :title, manual.title %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Your manuals",
        url: manuals_path
      },
      {
        title: manual.title,
        url: manual_path(manual)
      },
    ]
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: manual.title,
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 8
    } %>
  </div>
</div>

<div class="govuk-grid-row">
  <% unless clashing_sections.empty? %>
    <%= render "govuk_publishing_components/components/warning_text", {
      text: "Warning: There are duplicate section slugs in this manual."
    } %>
    <% clashing_sections_list = clashing_sections.map do |slug, sections|; slug; end %>
    <%= render "govuk_publishing_components/components/list", {
      visible_counters: true,
      items: clashing_sections_list
    } %>
  <% end %>

  <div class="govuk-grid-column-two-thirds">

    <section class="app-view-manuals__section">
      <%= render "shared/summary_card_component", {
        title: "About this manual",
        summary_card_actions: [
          {
            label: "Edit first publication date",
            href: original_publication_date_manual_path(manual)
          },
        ],
        rows: manual_metadata_rows(manual),
      } %>
    </section>

    <% if show_preview?(manual) %>
      <section class="app-view-manuals__section">
        <%= render "govuk_publishing_components/components/heading", {
          text: "Preview",
          heading_level: 2,
          font_size: "l",
          margin_bottom: 6
        } %>
        <p class="govuk-body">
          <%= link_to "Preview on website (opens in new tab)", content_preview_url(manual), target: "_blank" %></p>
      </section>
    <% end %>

    <section class="app-view-manuals__section">
      <%= render "shared/summary_card_component", {
        title: "Front page",
        summary_card_actions: [
          {
            label: "Edit",
            href: edit_manual_path(manual)
          }
        ],
        rows: manual_front_page_rows(manual),
      } %>
    </section>

    <section class="app-view-manuals__section">
      <%= render "shared/summary_card_component", {
        title: "Sections",
        summary_card_actions: [
          {
            label: "Reorder",
            href: reorder_manual_sections_path(manual)
          },
          {
            label: "Add",
            href: new_manual_section_path(manual)
          },
        ],
        rows: manual_section_rows(manual),
      } %>
    </section>
  </div>

  <div class="govuk-grid-column-one-third">
    <% if allow_publish?(manual, slug_unique) || !manual.has_ever_been_published? %>
      <div class="app-view-manuals__sidebar-actions">
        <% publish_text(manual, slug_unique).each do |message| %>
          <p class="govuk-body"> <%= message.html_safe %> </p>
        <% end %>
        <ul class="govuk-list govuk-list--spaced">
          <% if allow_publish?(manual, slug_unique) %>
            <li>
              <%= render("govuk_publishing_components/components/button", {
                text: "Publish",
                href: confirm_publish_manual_path(manual),
              }) %>
            </li>
          <% end %>
          <% unless manual.has_ever_been_published? %>
            <li>
              <%= render("govuk_publishing_components/components/button", {
                text: "Discard draft",
                href: confirm_discard_manual_path(manual),
                destructive: true,
              }) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if manual.published? %>
      <div class="app-view-manuals__sidebar-actions">
        <p class="govuk-body">
          <%= link_to "View on website (opens in new tab)", url_for_public_manual(manual), target: "_blank", class: "govuk-link" %></p>
      </div>
    <% end %>

    <%= render "admin/link_check_reports/link_check_report", reportable: { manual_id: manual.to_param }, report: manual.link_check_report %>

    <% if manual.draft? && manual.has_ever_been_published? %>
      <div class="app-inset-prompt">
        <p class="govuk-body">This is a new draft of a document that has already been published.</p>
        <p class="govuk-body">
          <%= link_to "Go to published edition", url_for_public_manual(manual), target: "_blank", class: "govuk-link" %></p>
      </div>
    <% end %>
  </div>
</div>
