<% content_for :breadcrumbs do %>
  <li><%= link_to "Your manuals", manuals_path %></li>
  <li><%= link_to manual.title, manual_path(manual) %></li>
  <li><%= link_to document.title, manual_document_path(manual, document) %></li>
  <li class='active'>Withdraw section</li>
<% end %>

<h1 class="page-header">Withdraw section</h1>

<div class='row'>
  <div class="col-md-8">
    <%= form_for [manual, document], method: :delete, class: 'panel panel-default' do |f| %>
      <div class="panel-body">
        <p>This will remove this section from the manual.  This change will go
          live when you publish the manual.  You will not be able to reinstate
          it after you remove it.</p>
        <p>Are you sure you want to proceed?</p>
        <button name='draft' class="btn btn-danger" data-disable-with="Withdrawing...">Yes</button>
        <%= link_to "No", manual_document_path(manual, document), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
