<div class="broken-links-report">
  <% if !report.present? %>
    <section class="app-inset-prompt">
      <p class="govuk-body">Check this document for broken links. The report will take a few moments to complete.</p>
      <%= render 'admin/link_check_reports/form', reportable: reportable, button_text: 'Check for broken links' %>
    </section>
  <% elsif report.in_progress? %>
    <section class="app-inset-prompt">
      <p class="govuk-body">Broken link report in progress.</p>
      <p class="govuk-body">Please wait.
      <%= link_to "Refresh",
                  link_check_report_path(report.id),
                  class: 'js-broken-links-refresh js-hidden',
                  remote: true %></p>
    </section>
  <% elsif report.broken_links.any? || report.caution_links.any? %>
    <section class="app-inset-prompt app-inset-prompt--error">
      <h3 class="remove-top-margin govuk-heading-s"><%= t "broken_links.title" %></h3>
      <% report.links.sort_by(&:status).group_by(&:status).each do |status, links| %>
        <% next unless %w(broken caution).include? status %>
        <p class="govuk-body"><%= t "broken_links.#{status}.subheading" %></p>
        <ul class="govuk-list">
          <% links.each do |link| %>
            <li>
              <%= link_to link.uri.truncate(50), link.uri, title: link.uri, class: 'govuk-link' %>
              <%= render "govuk_publishing_components/components/details", {
                title: "See more details about this link"
              } do %>
                <p><%= link.problem_summary %></p>
                <% if link.suggested_fix %>
                  <p>Suggested fix: <%= link.suggested_fix %></p>
                  <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'admin/link_check_reports/form', reportable: reportable, button_text: 'Check again' %>
    </section>
  <% else %>
    <section class="app-inset-prompt">
      <p class="govuk-body">This document contains no broken links.</p>
      <%= render 'admin/link_check_reports/form', reportable: reportable, button_text: 'Check again' %>
    </section>
  <% end %>
</div>
