<% product_name = "Manuals Publisher" %>
<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: environment,
  product_name: product_name,
  browser_title: yield(:title)
} do %>
  <%= render "govuk_publishing_components/components/skip_link", {
  } %>

  <%= render "govuk_publishing_components/components/layout_header", {
      environment: environment,
      product_name: product_name,
      navigation_items: navigation_links_internal + navigation_links_auth,
  } %>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request"
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content"
          }
        ]
      }
    ]
  } %>


<% end %>
