<% product_name = "Manuals Publisher" %>
<% environment = GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: environment,
  product_name: product_name,
  browser_title: yield(:title)
} do %>
  <%= render "govuk_publishing_components/components/skip_link", {
  } %>

  <%= render "govuk_publishing_components/components/layout_header", {
      environment: environment,
      product_name: product_name,
      navigation_items: navigation_links_internal + navigation_links_auth,
  } %>

  <% unless flash.empty? %>
    <div class="govuk-width-container">
      <div class="govuk-grid-row app-flash-container">
        <% flash.each do |type, msg| %>
          <% if type == "notice" %>
            <%= render "govuk_publishing_components/components/notice", {
              description: msg,
              margin_bottom: 0,
            } %>
          <% elsif type == "success" %>
            <%= render "govuk_publishing_components/components/success_alert", {
              message: msg,
              margin_bottom: 0,
            } %>
          <% elsif type == "error" %>
            <%= render "govuk_publishing_components/components/error_alert", {
              message: msg,
            } %>
          <% else %>
            <%= msg %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="govuk-width-container">
    <%= yield(:breadcrumbs) %>

    <%= yield(:heading) %>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
      <% if content_for?(:document_ready) %>
        <script>
          $(document).ready(function() {
            <%= yield :document_ready %>
          });
        </script>
      <% end %>
    </main>

  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Support and feedback",
        items: [
          {
            href: Plek.external_url_for("support"),
            text: "Raise a support request"
          },
          {
            href: "https://www.gov.uk/government/content-publishing",
            text: "How to write, publish, and improve content"
          }
        ]
      }
    ]
  } %>

<% end %>
